@use "variables";

/* Contact */

.bots-r-us {
  display: none;
}

.form-control.message {
  height: 15rem;
}

.contact-success {
  color: variables.$success-color;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.contact-failure {
  color: variables.$danger-color;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.required:after {
  color: variables.$danger-color;
  content: "*";
}

.alert.alert-dismissible.contact-close {
  width: 100%;
  background: transparent;
  margin-bottom: 3.5rem;
}

.contact-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0;
  // color: #000;
  // background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.5rem;
  opacity: 1;
  vertical-align: middle;
}

.contact-close:hover {
  color: variables.$danger-color;
  text-decoration: none;
  opacity: 0.75;
}

.contact-close:focus {
  outline: 0;
  color: variables.$danger-color;
}

.contact-close:disabled,
.contact-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.quote-summary {
  background: fixed, white;
  color: #6c757d;
}

.quote-label {
  text-align: var(--bs-body-text-align);
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  color: #6c757d;
  cursor: pointer;
}

.form-floating input.form-control,
.form-floating textarea.form-control {
  font-size: 1.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  border-width: 1px;
}

.form-floating input.form-control:focus,
.form-floating textarea.form-control:focus {
  box-shadow: none;
}

.form-floating label {
  font-size: 1.5rem;
  color: #6c757d;
}

.form-floating>label {
  padding: 0.6rem 0.75rem;
}

.form-control[name="email"] {
  text-transform: lowercase;
}