@use "variables";

html {
	height: 100%;
	scroll-padding-top: calc(4.5rem - 1px);
}

:root {
	/* House Colours */
	--bs-house-red: #e60000;
	--bs-house-blue: #b3d6ff;
	--bs-house-green: #00cc44;
	--bs-house-purple: #ccccff;
	--bs-house-red-rgb: 230, 0, 0;
	--bs-house-blue-rgb: 179, 214, 255;
	--bs-house-green-rgb: 0, 204, 68;
	--bs-house-purple-rgb: 204, 204, 255;
}

.page-section {
	padding: calc(6rem - 74px) 0;
}

.page-section .page-section-heading {
	font-size: 1.25rem;
	line-height: 1rem;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

@media (min-width: 992px) {
	.page-section {
		padding: calc(6rem - 104px * 0.75) 0;
	}

	.page-section .page-section-heading {
		font-size: 3rem;
		line-height: 2.5rem;
	}
}

.divider-custom {
	margin: 1.25rem 0 1.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.divider-custom .divider-custom-line {
	width: 100%;
	max-width: 7rem;
	height: 0.25rem;
	background-color: #2c3e50;
	border-radius: 1rem;
	border-color: #2c3e50;
	margin-top: 0.5rem;
}

.divider-custom .divider-custom-line:first-child {
	margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
	margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
	color: #2c3e50;
	font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
	background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
	color: #fff;
}

.btn-xl {
	padding: 1rem 1.75rem;
	font-size: 1.25rem;
	font-weight: 600;
}

.btn-social {
	border-radius: 100%;
	display: inline-flex;
	width: 3.25rem;
	height: 3.25rem;
	font-size: 1.25rem;
	justify-content: center;
	align-items: center;
}

#mainNav {
	padding-top: calc(1rem - 36px * 0.25);
	padding-bottom: calc(1rem - 36px * 0.25);
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
}

#mainNav .navbar-brand,
#mainNav .navbar-nav li.nav-item a.nav-link {
	color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover,
#mainNav .navbar-nav li.nav-item a.nav-link.active {
	color: var(--bs-house-green);
}

#mainNav .navbar-toggler {
	font-size: 80%;
	padding: 0.8rem;
	height: 100%;
}

a {
	color: var(--bs-house-green);
	text-decoration: none;

	&:hover {
		--bs-text-opacity: 0.7;
		color: rgba(var(--bs-house-green-rgb), var(--bs-text-opacity));

	}
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: calc(1.5rem - 72px * 0.25);
		padding-bottom: calc(1.5rem - 72px * 0.25);
		transition: padding-top 0.3s, padding-bottom 0.3s;
	}

	#mainNav .navbar-brand {
		font-size: 1.75em;
		transition: font-size 0.3s;
	}

	#mainNav .navbar-nav {
		margin-top: 0;
	}

	#mainNav.navbar-shrink {
		padding-top: calc(0.5rem - 74px * 0.75);
		padding-bottom: calc(0.5rem - 74px * 0.75);
	}

	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.5em;
	}
}

.site-logo {
	display: flex;
}

@media(min-width: 1200px) {
	.site-logo {
		margin-right: 30rem;
	}
}

@media(max-width: 900px) {
	.site-logo {
		margin-right: 0;
	}
}

.masthead {
	padding-top: calc(6rem + 8vh);
	padding-bottom: calc(2rem - 2vh);
}

.masthead .masthead-heading {
	font-size: 1.75rem;
	line-height: 1.75rem;

}

.masthead .masthead-subheading {
	font-size: 1rem;
}

.masthead .masthead-avatar {
	width: 15rem;
}

@media (min-width: 318px) {
	.masthead {
		padding-top: calc(6rem + 3vh);
		padding-bottom: calc(2rem - 2vh);
	}
}

@media (min-width: 768px) {
	.masthead {
		padding-top: 6rem;
		padding-bottom: 1rem;
	}

	.masthead .masthead-heading {
		font-size: 3rem;
		line-height: 2.5rem;
	}

	.masthead .masthead-subheading {
		font-size: 1.25rem;
	}
}

@media (min-width: 992px) {
	.masthead {
		padding-top: calc(6rem + 3vh);
		padding-bottom: calc(2rem - 2vh);
	}

	.masthead .masthead-heading {
		font-size: 4rem;
		line-height: 3.5rem;
	}

	.masthead .masthead-subheading {
		font-size: 1.5rem;
	}
}

.navbar-nav {
	flex-flow: row nowrap;
}

@media (max-width: 476px) {
	.navbar-nav {
		flex-flow: row wrap;
	}
}

.btn-quote {
	width: 8.75rem;
	height: 100%;
	text-align: center;
}

@media (min-width: 476px) {
	.btn-quote {
		white-space: wrap;
	}
}

.text-red {
	--bs-bg-opacity: 1;
	color: rgba(var(--bs-house-red-rgb), var(--bs-bg-opacity)) !important;
}

.text-blue {
	--bs-bg-opacity: 1;
	color: rgba(var(--bs-house-blue-rgb), var(--bs-bg-opacity)) !important;
}

.text-green {
	--bs-bg-opacity: 1;
	color: rgba(var(--bs-house-green-rgb), var(--bs-bg-opacity)) !important;
}

.text-purple {
	--bs-bg-opacity: 1;
	color: rgba(var(--bs-house-purple-rgb), var(--bs-bg-opacity)) !important;
}

.text-measurement {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-gray-800-rgb), var(--bs-text-opacity)) !important;
}

.bg-red {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-house-red-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-house-blue-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-house-green-rgb), var(--bs-bg-opacity)) !important;
}

.bg-purple {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-house-purple-rgb), var(--bs-bg-opacity)) !important;
}